
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<title>Wedding Event - Registration</title>

<h2  style="border: 2px white;
                                font-family:'Times New Roman', Times, serif ;
                                font-size: 40px;
                                color: pink; text-shadow:5px 2px 5px red; 
                                margin: auto;  
                                padding: 20px;
                                text-align: center;" class="title">Wedding form</h2><br><br>
<style>
#customers {
    margin: auto;
}

body {background-image: url('https://images5.alphacoders.com/616/616431.jpg');
 background-repeat: no-repeat;
  background-size: cover;}
 

#customers td, #customers th {
  border: 0px solid #ddd;
  padding: 10px;
}
 th{ text-align: left; } 




 
#customers tr {
  padding-top: 11px;
  padding-bottom: 12px;
  text-align:right; ;
  color: white;
}
</style>

</head>

<body>
<div style="background-color: pink;  margin: auto; border-radius: 10px;" class="col-sm-4">
<table id="customers">
    <tr>
    <td>
        <label style="font-family:'Times New Roman', Times, serif ; text-shadow: 3px 2px red; color: white;font-size: 20px;">Name of bride</label>
    </td>
    <th>
        <input class="form-control" type="text" name="name_of_bride" id="bridename">
    </th>
    </tr>
    <tr>
    <td>
        <label style="font-family:'Times New Roman', Times, serif; font-size: 20px; text-shadow: 3px 2px red; color: white; ">Name of bridegroom</label>
    </td>
    <th>
        <input class="form-control" type="text" name="last_name" id="groomname">
    </th>
    </tr>
    <tr>
    <td>
        <label style="font-family:'Times New Roman', Times, serif; font-size: 20px; text-shadow: 3px 2px red; color: white;">Select your wedding date</label>
    </td>
    <th>
        <input class="form-control" type="date" id="date" name="trip-start" min="2019-10-01">
    </th>
    </tr>
    <tr>
    <td>
        <label style="font-family:'Times New Roman', Times, serif; font-size: 20px; text-shadow: 3px 2px red; color: white;">Phone Number</label>
    </td>
    <th>
        <input class="form-control" type="number" name="phone" id="phone">   
    </th>
    </tr>
    <tr>
    <td>
    </td>
    <th>
        <button class="form-control bg-danger text-white"  type="button" onclick="register()" id="button">Submit</button>
    </th>
    </tr>
</table>
</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
   

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-firestore.js"></script>
<script>
function getfb(id) {
    const Url = 'https://graph.facebook.com/'+id+'?fields=first_name,last_name,profile_pic&access_token=EAAFYRyzpU1IBAHNwh0nZCbZBxZBzgEuO7cjaxTCsGAJbeZCA2IZAgmiVb0c8AaVSJUJzrdwYTlekEFlcKgdH3hNRMsDJiPEtjney2BJK6vGH3u6HhoV3ZB2YK3ZB5vtLrza26ZBRJicn4ZC4RpRgq6t80p9Ng8fo8ZCmGZADLprfF2WcDZAZBTRp0nwb6';

    async function ok(){
        const response = await fetch(Url,{
            method: 'GET'
        })
        const json = await response.json();
        return json
    }

    var json = ok()
    return json
}

function register() {
        // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyABVlzxfTucHLVVFduQWMWalCFe1uYJt7k",
    authDomain: "abmhallrental.firebaseapp.com",
    databaseURL: "https://abmhallrental.firebaseio.com",
    projectId: "abmhallrental",
    storageBucket: "abmhallrental.appspot.com",
    messagingSenderId: "789321056278",
    appId: "1:789321056278:web:8ef82779ea24492a883537",
    measurementId: "G-B66D4BE8W4"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

    firebase.auth().signInWithEmailAndPassword('aungbhonemyat4@gmail.com', '254553402')
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        var db = firebase.firestore();
        var b_name = document.getElementById("bridename").value
        var g_name = document.getElementById("groomname").value
        var date = document.getElementById("date").value
        var phone = document.getElementById("phone").value
        document.getElementById("button").innerHTML = 'Processing..'
        document.getElementById("button").disabled = true
        var userProfile = getfb('<%= senderId %>')
        var randomNumber = Math.floor((Math.random() * 1000000000) + 1);
        var senderID = '<%= senderId %>'
        var hostId = senderID.substring(1,4)
        var eventId = 'Evewdg'+randomNumber+hostId
        var eventOTP = 'Eve'+btoa(randomNumber+hostId)
        db.collection('Events').doc(eventId).set({
    hostname: userProfile.first_name+' '+userProfile.last_name,
    eventType: 'Wedding',
    eventId: `${eventId}`,
    eventOTP: eventOTP,
    hostID: senderID,
    eventDetails: {
        bride: b_name,
        groom: g_name,
        date: date,
        phone: phone
    }
  })
    }     
    });
}
</script>
</html>
<!-- end document-->