
<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>
    <div class="container-fluid" style="background-color: grey;">
                <div style="margin-top: 1px; border-radius: 10px; width: 100%; background-color: lightgrey;">
                    
                    <h2  style="border: 2px white;
                                font-family:'Times New Roman', Times, serif ;
                                font-size: 40px; 
                                margin: auto;  
                                padding: 10px;
                                text-align: center;"class="title">Wedding form</h2><br><br>
                    
                        <div class="row">
                            <div class="col-2">
                                <div>
                                    <label style="font-family:'Times New Roman', Times, serif ; font-size: 30px;">Name of bride</label> 
                                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input style="line-height: 50px;
                                                  background: #fafafa;
                                                  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                   box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                   -webkit-border-radius: 5px;
                                                  -moz-border-radius: 5px;
                                                   border-radius: 5px;
                                                   padding: 0 20px;
                                                   font-size: 18px;
                                                   color: #666;
                                                  -webkit-transition: all 0.4s ease;
                                                  -o-transition: all 0.4s ease;
                                                  -moz-transition: all 0.4s ease;
                                                  transition: all 0.4s ease;" type="text" name="name_of_bride" id="bridename">
                                                  <br><br>
                                </div>
                            </div>
                            <div class="col-2">
                                <div>
                                    <label style="font-family:'Times New Roman', Times, serif; font-size: 30px;">Name of bridegoom</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input style="line-height: 50px;
                                                  background: #fafafa;
                                                  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                   box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                   -webkit-border-radius: 5px;
                                                  -moz-border-radius: 5px;
                                                   border-radius: 5px;
                                                   padding: 0 20px;
                                                   font-size: 18px;
                                                   color: #666;
                                                  -webkit-transition: all 0.4s ease;
                                                  -o-transition: all 0.4s ease;
                                                  -moz-transition: all 0.4s ease;
                                                  transition: all 0.4s ease;" type="text" name="last_name" id="groomname"><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div>
                                    <label style="font-family:'Times New Roman', Times, serif; font-size: 30px;">Select your wedding date</label>
                                    <br><br>
                                    <div>
                                        <input style="line-height: 50px;
                                                  background: #fafafa;
                                                  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                   box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                                                   -webkit-border-radius: 5px;
                                                  -moz-border-radius: 5px;
                                                   border-radius: 5px;
                                                   padding: 0 20px;
                                                   font-size: 18px;
                                                   color: #666;
                                                  -webkit-transition: all 0.4s ease;
                                                  -o-transition: all 0.4s ease;
                                                  -moz-transition: all 0.4s ease;
                                                  transition: all 0.4s ease" type="date" id="date" name="trip-start" min="2019-10-01"><br><br>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            
                            <div class="col-2">
                                <div>
                                    <label style="font-family:'Times New Roman', Times, serif; font-size: 30px;">Phone Number</label>
                                    <input style="line-height: 50px;
                                                  background: #fafafa;
                                                  border-radius: 5px;
                                                    padding: 0 20px;
                                                   font-size: 18px;
                                                   color: #666;" type="number" name="phone" id="phone">
                                </div>
                            </div>
                        </div>
                        
                     <button type="button" onclick="register()" id="button">Submit</button>
                    
                </div>
    </div>

    

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
   

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-firestore.js"></script>
<script>
function getfb(id) {
    const Url = 'https://graph.facebook.com/'+id+'?fields=first_name,last_name,profile_pic&access_token=EAAFYRyzpU1IBAHNwh0nZCbZBxZBzgEuO7cjaxTCsGAJbeZCA2IZAgmiVb0c8AaVSJUJzrdwYTlekEFlcKgdH3hNRMsDJiPEtjney2BJK6vGH3u6HhoV3ZB2YK3ZB5vtLrza26ZBRJicn4ZC4RpRgq6t80p9Ng8fo8ZCmGZADLprfF2WcDZAZBTRp0nwb6';

    async function ok(){
        const response = await fetch(Url,{
            method: 'GET'
        })
        const json = await response.json();
        return json
    }

    var json = ok()
    return json
}

function register() {
        // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyABVlzxfTucHLVVFduQWMWalCFe1uYJt7k",
    authDomain: "abmhallrental.firebaseapp.com",
    databaseURL: "https://abmhallrental.firebaseio.com",
    projectId: "abmhallrental",
    storageBucket: "abmhallrental.appspot.com",
    messagingSenderId: "789321056278",
    appId: "1:789321056278:web:8ef82779ea24492a883537",
    measurementId: "G-B66D4BE8W4"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

    firebase.auth().signInWithEmailAndPassword('aungbhonemyat4@gmail.com', '254553402')
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        var db = firebase.firestore();
        var b_name = document.getElementById("bridename").value
        var g_name = document.getElementById("groomname").value
        var date = document.getElementById("date").value
        var phone = document.getElementById("phone").value
        document.getElementById("button").innerHTML = 'Processing..'
        document.getElementById("button").disabled = true
        var userProfile = getfb('<%= senderId %>')
        var randomNumber = Math.floor((Math.random() * 1000000000) + 1);
        var senderID = '<%= senderId %>'
        var hostId = senderID.substring(1,4)
        var eventId = 'Eve'+randomNumber+hostId
        var eventOTP = btoa(randomNumber+hostId)
        db.collection('Events').doc(eventId).set({
    hostname: userProfile.first_name+' '+userProfile.last_name,
    eventType: 'Wedding',
    eventId: `${eventId}`,
    eventOTP: eventOTP,
    hostID: senderID,
    eventDetails: {
        bride: b_name,
        groom: g_name,
        date: date,
        phone: phone
    }
  })
    }     
    });
}
</script>
</html>
<!-- end document-->